@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Francois+One');
body {
	font-family: "Segoe UI", AppleSDGothicNeo-Light, Calibri, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size: 1.75em;
	line-height: 140%;
	position: relative;
	background-color: #fff;
}
